.body-class-cookie{
    background-color:  rgb(52, 58, 64) !important;
    transition: 0.5s;
    font-family: 'Big Shoulders Stencil Display', cursive;
    cursor: url('./cursor1.png'), auto;
    margin: 0;
}

h1{
    color: #FAFF05;
    text-align: center;
}

h2{
    color: #FAFF05;
    text-align: center;  
}

h3{
    color: #FAFF05;
    text-align: center;  
}

h4{
    color: #FAFF05;
    text-align: center;  
}

p{
    margin: 0 5% 0 5%;
    letter-spacing: 2%;
    line-height: 150%;
    color: white;
}

.underlined-text{
    text-decoration: underline;
}

.back-button{
    color: black;
    background-color: #FAFF05;
    border-radius: 20px;
    width: fit-content;
    height: 60px;
    margin-left: 5%;
    margin-top: 5%;
    margin-bottom: 5%;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

a{
    color: cornflowerblue;
}