@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Stencil+Display:wght@700&display=swap');

html {
    scroll-behavior: smooth;
  }

body {
    background: linear-gradient(0deg, rgba(4,5,0,1) 0%, rgba(182,185,6,1) 68%, rgba(248,254,6,1) 100%);
    background-size: cover;
    background-repeat: no-repeat;
    transition: 0.5s;
    font-family: 'Big Shoulders Stencil Display', cursive;
    cursor: url('./cursor1.png'), auto;
    margin: 0;
}

.mySlides {
    display: none;
}

.form{
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    width: 90%;
    height: 50em;
}

.menu {
    display: flex;
    align-items: flex-start;
    padding-top: 2%;
    height: fit-content;
    width: 100%;
    transform: scale(0.8, 0.8);
    transform-origin: 0 0;
}

.menu-icons{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    transition: 1s;
}

.grid-menu{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 8%;
    width: 20%;
    height: 10vh;
    position: absolute;
    top: 0;
    background-color: rgba(1,1,1,0);
    margin-left: 4%;
}

.grid-menu-rows{
    display: grid;
    grid-template-rows: 80% 20%;
    grid-gap:0;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    box-shadow: 0 20px 50px rgba(0, 0, 0, 0.8);
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    transition: 1s;
}

.grid-menu-rows:hover {
    transform: scale(1.1,1.1);
    box-shadow: 0 20px 50px rgba(0, 0, 0, 0.8);
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
}


.home {
    background-image: url('./media/0.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    margin: 0;
    height: 100%;
    transition: 1s;
}

.cookie{
    position: fixed;
    padding: 2% 0 2% 0;
    bottom: 0;
    text-align: center;
    color: white;
    width: 100%;
    height: fit-content;
    background-color: black;
    z-index: 2;
    transition: all 2s linear;
    display: block;
    opacity: 1;
}
.closeNav{
    position: absolute;
    right: 1%;
    top: 1%;  
    cursor: pointer;
}

.container{
    display: flex;
    align-items: center;
    justify-content: center;
}
.text-container{
    margin-top: 5%;
}
.text-container h1{
    text-align: center;
    color: #FAFF05;
}
.text-container h3 {
    text-align: center;
    color: white;
}
.my-hr{
    width: 70%;
    margin: 0 15% 0 15%;
    background-color: #FAFF05;
    border-color:  #FAFF05;
    height: 3px;
}
.card-inner {
    box-shadow: 0 20px 50px rgba(0, 0, 0, 0.8);
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    top: 2px;
    padding: 2%;
}

.form-side {
    margin-top: 10%;
    align-items: center;
    justify-content: center;
    display: flex;
    text-align: center;
}

.slider {
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    width: fit-content;
}

@supports (-webkit-backdrop-filter: none) or (backdrop-filter: none) {
    .card-inner {
        -webkit-backdrop-filter: blur(10px);
        backdrop-filter: blur(10px);
    }

    .container h2 {
        text-align: center;
        color: #fafccf;
        font-size: 300%;
    }

    .card-inner h2 {
        text-align: center;
        color: #fafccf;
        font-size: 300%;
    }

    .container h1 {
        font-size: 500%;
        color: #FAFF05 !important;
        text-align: center;
        margin-top: 25%;
    }

    .inner-container-icons {
        display: flex;
        align-items: center;
        justify-content: center;
        padding-left: 16%;
        padding-top: 2%;
    }

        .inner-container-icons h2 {
            text-align: center;
        }

        .inner-container-icons h1 {
            font-size: 500%;
            color: #FAFF05 !important;
            text-align: center;
            margin-top: 25%;
        }

    .inner-icon-comment {
        margin-top: 30%;
        margin-bottom: 3%;
        text-align: center;
        color: white;
    }

    .outer-container-icons {
        width: fit-content;
        text-transform: uppercase;
        letter-spacing: 0.3ch;
        position: relative;
    }

    .grid-container-icons {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        margin: 0 15% 2% 15%;
        width: 70%;
        padding-top: 5%;
    }

    .text-container2 {
        display: flex;
        text-align: center;
        align-items: center;
        justify-content: center;
        color: white;
        font-size: x-large;
        line-height: 150%;
        font-size: 120%;
        padding: 2%;
    }

    .grid-container-icons2 {
        display: grid;
        grid-template-columns: 1fr 2fr;
        width: 94%;
        margin: 3% 3% 0 3%;
        border: 1px solid #FAFF05;
        border-radius: 20px;
        box-shadow: 0 20px 50px rgba(0, 0, 0, 0.8);
    }

    .grid-container-icons3 {
        display: grid;
        grid-template-columns: 2fr 1fr;
        width: 94%;
        margin: 3% 3% 0 3%;
        border: 1px solid #FAFF05;
        border-radius: 20px;
        box-shadow: 0 20px 50px rgba(0, 0, 0, 0.8);
    }

    .grid-container-form {
        display: grid;
        grid-template-columns: 1fr 1fr;
        margin: 0 5% 0 5%;
        grid-gap: 2%;
        width: 90%;
        background-position-x: 60%;
        -webkit-border-radius: 20px;
        -moz-border-radius: 20px;
    }

    .hex {
        margin-top: 70px;
        width: 104px;
        height: 60px;
        background: #FAFF05;
        position: relative;
    }

        .hex:before, .hex:after {
            content: "";
            border-left: 52px solid transparent;
            border-right: 52px solid transparent;
            position: absolute;
        }

        .hex:before {
            top: -29.5px;
            border-bottom: 30px solid #FAFF05;
        }

        .hex:after {
            bottom: -29.5px;
            border-top: 30px solid #FAFF05;
        }

        .hex.inner {
            background-color: rgb(52, 58, 64);
            -webkit-transform: scale(.95, .95);
            -moz-transform: scale(.95, .95);
            transform: scale(.95, .95);
            z-index: 1;
        }

            .hex.inner:before {
                border-bottom: 30px solid rgb(52, 58, 64);
            }

            .hex.inner:after {
                border-top: 30px solid rgb(52, 58, 64);
            }

        .hex.inner2 {
            background-color: #FAFF05;
            background-repeat: no-repeat;
            background-size: contain;
            background-position: center;
            -webkit-transform: scale(.9, .9);
            -moz-transform: scale(.9, .9);
            transform: scale(.9, .9);
            z-index: 2;
        }

            .hex.inner2:before {
                border-bottom: 30px solid #FAFF05;
            }

            .hex.inner2:after {
                border-top: 30px solid #FAFF05;
            }
