@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Stencil+Display:wght@700&display=swap');

html {
    scroll-behavior: smooth;
  }

body {
    background-color: rgb(52, 58, 64);
    transition: 0.5s;
    font-family: 'Big Shoulders Stencil Display', cursive;
    cursor: url('./cursor1.png'), auto;
}


.form{
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    width: 90%;
    height: 50em;
}

.menu {
    display: flex;
    align-items: flex-start;
    padding-top: 2%;
    height: fit-content;
    width: 100%;
    transform: scale(0.8, 0.8);
    transform-origin: 0 0;
}


.home {
    background-image: url('./media/0.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    margin: 0;
    height: 100%;
    transition: 1s;
}

.cookie{
    position: fixed;
    bottom: 0;
    text-align: center;
    color: black;
    width: 100%;
    height: 30px;
}

.container{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 2%;
}
.text-container{
    margin-top: 5%;
}
.text-container h1{
    text-align: center;
    color: #FAFF05;
}
.text-container h3 {
    text-align: center;
    color: white;
}
.my-hr{
    width: 70%;
    background-color: #FAFF05;
    border-color:  #FAFF05;
    height: 3px;
}
.card-inner {
    box-shadow: 0 20px 50px rgba(0, 0, 0, 0.8);
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    top: 2px;
    padding: 2%;
}

@supports (-webkit-backdrop-filter: none) or (backdrop-filter: none) {
    .card-inner {
        -webkit-backdrop-filter: blur(10px);
        backdrop-filter: blur(10px);
    }

    .container h2 {
        text-align: center;
        color: #fafccf;
        font-size: 300%;
    }

    .container h1 {
        font-size: 500%;
        color: #FAFF05 !important;
        text-align: center;
        margin-top: 25%;
    }

    .inner-container-icons {
        display: flex;
        align-items: center;
        justify-content: center;
        padding-left: 16%;
        padding-top: 2%;
    }

        .inner-container-icons h2 {
            text-align: center;
        }

        .inner-container-icons h1 {
            font-size: 500%;
            color: #FAFF05 !important;
            text-align: center;
            margin-top: 25%;
        }

    .inner-icon-comment {
        margin-top: 25%;
        margin-bottom: 5%;
        text-align: center;
        color: white;
    }

    .outer-container-icons {
        width: fit-content;
        text-transform: uppercase;
        letter-spacing: 0.3ch;
        position: relative;
    }

    .grid-container-icons {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        margin: 0 15% 2% 15%;
        width: 70%;
        padding-top: 5%;
    }

    .text-container2 {
        display: flex;
        text-align: center;
        align-items: center;
        justify-content: center;
        color: white;
        font-size: x-large;
        line-height: 150%;
        padding: 2%;
    }

    .grid-container-icons2 {
        display: grid;
        grid-template-columns: 1fr 2fr;
        width: 80%;
        margin: 3% 10% 0 10%;
        border: 1px solid #FAFF05;
        border-radius: 20px;
        box-shadow: 0 20px 50px rgba(0, 0, 0, 0.8);
    }
    .grid-container-icons3 {
        display: grid;
        grid-template-columns: 2fr 1fr;
        width: 80%;
        margin: 3% 10% 0 10%;
        border: 1px solid #FAFF05;
        border-radius: 20px;
        box-shadow: 0 20px 50px rgba(0, 0, 0, 0.8);
    }

    .grid-container-form {
        display: grid;
        grid-template-columns: 1fr 1fr;
        margin: 0 10% 0 10%;
        width: 80%;
    }

    .hex {
        margin-top: 70px;
        width: 208px;
        height: 120px;
        background: #FAFF05;
        position: relative;
    }

        .hex:before, .hex:after {
            content: "";
            border-left: 104px solid transparent;
            border-right: 104px solid transparent;
            position: absolute;
        }

        .hex:before {
            top: -59px;
            border-bottom: 60px solid #FAFF05;
        }

        .hex:after {
            bottom: -59px;
            border-top: 60px solid #FAFF05;
        }

        .hex.inner {
            background-color: rgb(52, 58, 64);
            -webkit-transform: scale(.95, .95);
            -moz-transform: scale(.95, .95);
            transform: scale(.95, .95);
            z-index: 1;
        }

            .hex.inner:before {
                border-bottom: 60px solid rgb(52, 58, 64);
            }

            .hex.inner:after {
                border-top: 60px solid rgb(52, 58, 64);
            }

        .hex.inner2 {
            background-color: #FAFF05;
            background-repeat: no-repeat;
            background-size: contain;
            background-position: center;
            -webkit-transform: scale(.9, .9);
            -moz-transform: scale(.9, .9);
            transform: scale(.9, .9);
            z-index: 2;
        }

            .hex.inner2:before {
                border-bottom: 60px solid #FAFF05;
            }

            .hex.inner2:after {
                border-top: 60px solid #FAFF05;
            }
